<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EP-PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registration_form</display-name>
    <servlet-name>Registration_form</servlet-name>
    <servlet-class>com.klef.Registration_form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration_form</servlet-name>
    <url-pattern>/Registration_form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.klef.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Forgot</display-name>
    <servlet-name>Forgot</servlet-name>
    <servlet-class>com.klef.Forgot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot</servlet-name>
    <url-pattern>/Forgot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Booknow</display-name>
    <servlet-name>Booknow</servlet-name>
    <servlet-class>com.klef.Booknow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Booknow</servlet-name>
    <url-pattern>/Booknow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADDCAR</display-name>
    <servlet-name>ADDCAR</servlet-name>
    <servlet-class>com.klef.ADDCAR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADDCAR</servlet-name>
    <url-pattern>/ADDCAR</url-pattern>
  </servlet-mapping>
  
</web-app>